In [1]:
#1. Functie care sa calculeze si sa returneze suma a 2 numere

In [2]:
def suma2(x1,x2):
    return x1+x2;

In [4]:
suma2(7,98)

105

In [5]:
#2. Functie care sa returneze TRUE daca un numar este par, FALSE pt impar

In [11]:
def nrpar(x):
 if x%2==0:
    print("TRUE")
 else:
    print("FALSE")

In [12]:
nrpar(56)

TRUE

In [13]:
nrpar(9)

FALSE

In [14]:
#3. Functie care returneaza numarul total de caractere din numele tau complet.
#(nume, prenume, nume_mijlociu)

In [20]:
def nr_caractere(x,y,z):
  return  len(x)+len(y)+len(z)

In [21]:
nr_caractere("moaga","roxana","elena")

16

In [22]:
#4. Functie care returneaza aria dreptunghiului

In [23]:
def aria_dreptunghi(x,y):
    return x*y

In [24]:
aria_dreptunghi(6,9)

54

In [25]:
#5. Functie care returneaza aria cercului

In [32]:
def aria_cerc(r):
    return 3.14*r**2

In [33]:
aria_cerc(7)

153.86

In [34]:
#6. Functie care returneaza True daca un caracter x se gaseste intr-un string dat. Fasle daca nu

In [35]:
def gasesc(string, caracter):
    if caracter in string:
        print("TRUE");
    else:
        print("FALSE")

In [36]:
gasesc("adevarat","a")

TRUE

In [38]:
gasesc("avshdmrhfdfebd","j")

FALSE

In [39]:
#7. Functie fara return, primeste un string si printeaza pe ecran:
#-	Nr de caractere lower case este x
#-	Nr de caractere upper case exte y

In [55]:
def nr_caractere():
    string=input("Enter string:");
    count1=0;
    count2=0;
    for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
    print(f"Nr de caractere lower case este {count1}");
    print(f"Nr de caractere lower case este {count2}");

In [56]:
nr_caractere()

Enter string:AAAAeeeeeeeee
Nr de caractere lower case este 9
Nr de caractere lower case este 4

In [58]:
nr_caractere()

Enter string:AbCd
Nr de caractere lower case este 2
Nr de caractere lower case este 2

In [59]:
#8. Functie care primeste o LISTA de numere si returneaza o LISTA doar cu numerele pozitive

In [89]:
lista=[];
def lista_pozitive(listanr):
    for x in listanr:
        if x>0:
          lista.append(x)
    print(lista)

In [90]:
i=[4,5,6,7,-1,-3,-449584,-5,87,45,23];
lista_pozitive(i)

[4, 5, 6, 7, 87, 45, 23]

In [91]:
#9. Functie care nu returneaza nimic. Primeste 2 numere si PRINTEAZA
#-	Primul numar x este mai mare decat al doilea nr y
#-	Al doilea nr y este mai mare decat primul nr x
#-	Numerele sunt egale.

In [97]:
def functie(x,y):
    if x>y:
        print(f"Primul numar {x} este mai mare decat al doilea nr {y}");
    elif x<y:
        print(f"Al doilea numar {y} este mai mare decat primul nr {x}");
    else:
        print("Numerele sunt egale");

In [98]:
functie(5,5)

Numerele sunt egale

In [99]:
functie(5,89)

Al doilea numar 89 este mai mare decat primul nr 5

In [100]:
#10. Functie care primeste un numar si un set de numere.
#Printeaza ‘am adaugat numarul nou in set’ + returneaza True
#Sau Printeaza ‘nu am adaugat numarul in set. Acesta exista deja’ + returneaza False

In [22]:
def fct10(x1,x2):
    for elem in x2:
        if elem==x1:
            print("nu am adaugat numarul in set");
        else:
            x2.add(x1);
            print("am adaugat numarul nou in set");
            print(x2);

In [23]:
x=35;
y={45,6,78};
fct10(x,y)

am adaugat numarul nou in set
{35, 45, 78, 6}

RuntimeError: Set changed size during iteration

In [24]:
x=87;
y={45,6,78,5,7};
fct10(x,y)

am adaugat numarul nou in set
{5, 6, 7, 87, 45, 78}

RuntimeError: Set changed size during iteration

In [25]:
x=5;
y={45,6,78,5,7};
fct10(x,y)

nu am adaugat numarul in set
am adaugat numarul nou in set
{5, 6, 7, 45, 78}
am adaugat numarul nou in set
{5, 6, 7, 45, 78}
am adaugat numarul nou in set
{5, 6, 7, 45, 78}
am adaugat numarul nou in set
{5, 6, 7, 45, 78}

In [26]:
#11. Functie care primeste o luna din an si returneaza cate zile are acea luna

In [29]:
def zile_luna(luna):
    if luna in ['ianuarie','martie','mai','iulie','august','octombrie','decembrie']:
        print("Luna are 31 zile:");
    else: 
        print('Luna are 30 zile')

In [31]:
zile_luna('martie')

Luna are 31 zile:

In [32]:
zile_luna('aprilie')

Luna are 30 zile

In [33]:
#12. Functie calculator care sa returneze 4 valori 
#Suma, diferenta, inmultirea, impartirea a 2 numere

In [48]:
def calculator(x,y):
    return x+y, x-y,x*y,x/y;

In [49]:
calculator(5,6)

(11, -1, 30, 0.8333333333333334)

In [50]:
#In final vei putea face:
#a, b, c, d = calculator(10, 2)
#print("Suma: ", a)
#print("Diferenta: ", b)
#print("Inmultirea: ", c)
#print("Impartirea: ", d)

In [46]:
a, b, c, d = calculator(10, 2)

In [51]:
print(f"Suma: {a}");
print(f"Diferenta: , {b}");
print("Inmultirea: ", c)
print("Impartirea: ", d)

Suma: 12
Diferenta: , 5.0
Inmultirea:  8
Impartirea:  20

In [52]:
#13. Functie care primeste o lista de cifre (adica doar 0-9)
#Ex: [1, 3, 1, 5, 9, 7, 7, 5, 5]
#Returneaza un DICT care ne spune de cate ori apare fiecare cifra
#=> dict {
#0: 0
#1 :2
#2: 0
#3: 1
#4: 0
#5: 3
#6: 0
#7: 2
#8: 0
#9: 1
#}

In [53]:
#14. Functie care primeste 3 numere
#Returneaza valoarea maxima dintre ele

In [69]:
def max(a,b,c):
    if (a >= b) and (a >= c):
        return a
    elif (b >= a) and (b >= c):
        return b
    else:
        return c

In [70]:
max(5,6,7)

7

In [71]:
max(5,5,5)

5

In [72]:
#15. Functie care sa primeasca un numar si sa retunreze suma tuturor numerelor de la 0 la acel numar
#Ex: daca dam nr 3
#Suma va fi 6 (0+1+2+3)

In [92]:
def s(z):
    suma=0;
    for i in range(0,z+1):
        suma=suma+i;
    return suma;

In [93]:
s(3)

6

In [94]:
s(2)

3

In [95]:
s(5)

15

In [96]:
#16. Functie care nu primeste argumente, dar cere un input de la tastatura si va printa
#“Numarul ales este pozitiv” sau “Numarul ales este negativ” sau “Numarul ales este 0”, dupa caz, iar daca nu introducem un numar, sa se afiseze “Nu ati ales un numar valid”; la final sa se afiseze “Sfarsitul functiei” indiferent de caz.

In [114]:
def nr():
    x=int(input("Numarul ales este: "));
    if x>0:
        print("Numarul este pozitiv");
    elif x<0:
        print("Numarul este negativ");
    elif x==0:    
        print("Numarul ales este 0");
    else:
        print("Nu ati ales un numar valid");
    print("Sfarsitul functiei")

In [115]:
nr()

Numarul ales este: 34
Numarul este pozitiv
Sfarsitul functiei

In [116]:
#17. Functie care primesete 2 liste de numere (numerele pot fi dublate)
#Returnati numerele comune 

#Ex:
#list1 = [1, 1, 2, 3]
#list2 = [2, 2, 3, 4]
#Raspuns: {2, 3}

In [118]:
def intersectie(x,y):
    return x&y;

In [123]:
list1 = {1, 1, 2, 3}
list2 = {2, 2, 3, 4};
intersectie(list1,list2)

{2, 3}

In [124]:
list1 = [1, 1, 2, 3];
list2 = [2, 2, 3, 4];
intersectie(list1,list2)

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [125]:
#18. Functie care sa aplice o reducere de pret. Daca apelul functiei nu primeste valoarea reducerii, sa ia valoarea default 10%.
#Daca produsul costa 100 lei si aplicam reducere de 10%
#Pretul va fi 90
#Tratati cazurile in care reducerea e invalida. De ex o reducere de 110% e invalida#

In [138]:
def discount(pret,r="10"):
    if r<=100:
        pret=pret-pret*r/100;
        print(pret)
    else:
        print("Reducerea este invalida")

In [142]:
discount(100,10)

90.0